.countdown.default {
	border: 1px black solid;
	background-color: white;
	width: 310px;
}

.countdown.default span {
	font-size: 48pt;
	font-family: "Courier"
}

.countdown.red {
	border: 3px red solid;
	background-color: #FFCCCC;
	width: 310px;
}

.countdown.red span {
	font-size: 48pt;
	font-family: "Verdana";
	color: red;
}

/* When using shake, you must specify another theme */

@-webkit-keyframes shake {
	0% {
		-webkit-transform: translate(1px, 2px);
	}

	25% {
		-webkit-transform: translate(1px, -1px);
	}

	50% {
		-webkit-tranform: translate(-2px, -1px);
	}

	75% {
		-webkit-transform: translate(-2px, 2px);
	}
}

.countdown.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-play-state: running;
}

.countdown.shake:hover {
	-webkit-animation-play-state: paused;
}
